@model SuperShop.Web.Data.Entities.Country


@{
    ViewData["Title"] = "Details";
}


<h2>@ViewData["Title"]</h2>

<hr/>
<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<hr/>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit Country</a>

    <a asp-action="AddCity" asp-route-id="@Model.Id" asp-route-method="1" class="btn btn-info"> Add City (1)</a>
    <a asp-action="AddCity" asp-route-id="@Model.Id" asp-route-method="2" class="btn btn-info"> Add City (2)</a>

    <a asp-action="Index" class="btn btn-success">Back To list</a>
</div>


<br/>
<hr/>
<br/>


<h4>Cities</h4>
@if (Model.Cities == null || Model.Cities.Count == 0)
{
    <h5>No cities added yet</h5>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cities.FirstOrDefault().Name)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Cities.OrderBy(c => c.Name))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td id="@item.Id">
                    <a asp-action="EditCity" asp-route-id="@item.Id"
                       asp-route-countryId="@Model.Id" asp-route-countryName="@Model.Name"
                       class="btn btn-warning">
                        <i class="bi bi-pencil-fill"></i>
                        <span class="material-symbols-outlined">edit</span>Edit
                    </a>

                    @* <a asp-action="EditCity" asp-route-id="@item.Id" class="btn btn-warning"> *@
                    @*     <i class="bi bi-pencil-fill"></i> *@
                    @*     <span class="material-symbols-outlined">edit</span>Edit *@
                    @* </a> *@

                    <a asp-action="DeleteCity" asp-route-id="@item.Id"
                       class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteCity">
                        <span class="material-symbols-outlined">delete</span>Delete
                    </a>

                    @* <a asp-action="DeleteCity" asp-route-id="@item.Id" class="btn btn-danger" id="btnDelete">Delete</a> *@

                </td>
            </tr>
        }
        </tbody>
    </table>
}


<partial name="_CountriesModal" model="Model"/>


<script src="~/js/countries.js"></script>


@* @section Scripts{ *@
@*     @{ *@
@*         await Html.RenderPartialAsync("_ValidationScriptsPartial"); *@
@*     } *@
@*      *@
@* } *@